transformers~=4.12.3
wandb~=0.12.6
pandas~=1.3.4
scikit-learn~=1.0.1
torchmetrics~=0.6.0
torch~=1.10.0
pytorch-lightning~=1.5.1
keras_preprocessing~=1.1.2
pyyaml~=6.0
numpy~=1.21.4
tqdm~=4.62.3
requests~=2.26.0
urllib3~=1.26.7